.box13 {
    /* padding-left: 8%; */
    margin: 0 auto ;
    color: #FFF;
    text-align:  center;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 400px;
    /* display: inline-block; */
 }

.interphone1{
    margin:0 auto;
    color: #FFF;
    text-align:  center;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 400px;    
}




 .headercss {
    padding: 0.5em 1em;
    text-align:  center;
    background-color: rgb(241, 233, 186);
 }

.mainmanu {
    display: flex;
    justify-content: space-around;
    background-color: burlywood;
}

.box1 {
    display: flex;
    justify-content: center;
}



 .box13-3 {
    /* padding: 0.5em 1em; */
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #32506d;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    width: 500px;
 }

.box13 p {
    margin: 0em;
}

.btn-press-down {
    display: inline-block;
    background-color: #0063dc;
    padding: 10px 15px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 5px rgb(49, 87, 75);
}
.btn-press-down:active{
    box-shadow: none;
    position: relative;
    top: 5px;
}

.hooter_css{
    padding: 0.5em 1em;
    text-align:  center;
    background-color: rgb(241, 233, 186);
}


/*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 30s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 6);
  }
  .d-demo__item > img{
     width: 100%;
  }
