body, h1, p {
    margin: 0;
    padding: 0;
    }
    
/*     h1 {
    color: #ffffff;
    } */
    
    h2 {
    color: #339933;
    }
    
    p {
    line-height: 2em;
    }
    
    p.hl {
    font-size: 1.25em;
    color: #ffffff;
    }
    
    header, div#main, nav, footer {
    padding: 8px;
    }
    
/*     header {
    background-color: #339933;
    } */
    
    div#content {
    background-color: #99cc33;
    width: 760px;
    overflow: hidden;
    }
    
    div#main {
    background-color: #ffffff;
    width: 584px;
    float: right;
    }
    
    nav {
    color: #339933;
    background-color: #99cc33;
    width: 144px;
    float: left;
    }
    
    nav a:link {
    color: #ffffff;
    }
    
    nav a:visited {
    color: #ccffcc;
    }
    
    nav a:hover {
    color: #339933;
    }
    
    nav li {
    line-height: 2em;
    }
    
    footer {
    color: #ffffff;
    background-color: #339933;
    }

    .sound_play_box{
        margin:0 auto;
        color: #FFF;
        text-align:  center;
        background: #6eb7ff;
        border-bottom: solid 6px #3f87ce;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        width: 400px;    
    }
    
    .headercss {
        padding: 0.5em 1em;
        text-align:  center;
        background-color: rgb(241, 233, 186);
     }

    /*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 30s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 6);
  }
  .d-demo__item > img{
     width: 100%;
  }

