/* body, h1, p {
    margin: 0;
    padding: 0;
    } */
    
/*     h1 {
    color: #ffffff;
    } */
    
    h2 {
    color: #339933;
    }
    
    p {
    line-height: 2em;
    }
    
    p.hl {
    font-size: 1.25em;
    color: #ffffff;
    }
    
    header, footer {
    padding: 8px;
    }
    
    
    .content {
    background-color: #99cc33;
    overflow: hidden;
    display :flex;
    width: 100vw;
    }
    
    .nav {
      flex-shrink: 0;
      width: 200px;
      display: list-item;
      list-style-type: none;
      text-transform: uppercase;
      padding: 0.5em;
      color: #339933;
      background-color: rgb(68, 67, 67);
      float: left;
    }

    .nav a:link {
      color: #ffffff;
    }
      
    .nav a:visited {
      color: #ccffcc;
    }
      
    .nav a:hover {
      color: #339933;
    }
      
    .nav li {
      line-height: 2.5em;
    } 





    div#main {
    background-color: #242222;
    width: calc(100vw - 200px);
    }
    

    

    
    footer {
    color: white;
    background-color: hsl(220, 3%, 21%);
    width: 100%;
    }


    .line1 {
      display: flex;
    }
    .line2 {
      display: flex;
    }
    .line3 {
      display: flex;
    }

    .sound_play_box{
        margin:0 auto;
        color: #FFF;
        text-align: center;
        background: hsl(220, 3%, 21%);
        /*border-bottom: solid 6px gray;*/
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        border-radius: 9px;
        width: 400px; 
        height: 400px;
        overflow: visible;
        margin: 10px;
    }
    .sound_play_box img{
      /*height: 30%;
      width: auto;*/
      /*display: block;*/
      margin: auto;
      transition-duration: 0.5s;
    }
    .sound_play_box img:hover {
      transform: scale(1.2,1.2);
      transition-duration: 0.5s;
      }
    .btn-press-down {
        display: inline-block;
        background-color: #0063dc;
        padding: 10px 15px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        border-radius: 5px;
        box-shadow: 0 5px rgb(49, 87, 75);
    }
    .btn-press-down:active{
        box-shadow: none;
        position: relative;
        top: 5px;
    }




    
    .headercss {
        padding: 0.5em 1em;
        text-align:  center;
        color: white;
        background-color: rgb(0, 0, 0);
        border-bottom: 5px solid rgb(25, 54, 97);
     }

    /*
右から左へ
----------------------------*/
@keyframes infinity-scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  /*
  IE11対策
  ----------------------------*/
  _:-ms-lang(x)::-ms-backdrop,
  .d-demo {
    display: -ms-grid;
    overflow: hidden;
  }
  /*----------------------------*/
  
  .d-demo__wrap {
    display: flex;
    overflow: hidden;
  }
  
  .d-demo__list {
    display: flex;
    list-style: none;
  }
  
  .d-demo__list--left{
  animation :infinity-scroll-left 30s infinite linear 0.5s both;
  }
  
  .d-demo__item {
    width: calc(100vw / 10);
  }
  .d-demo__item > img{
     width: 100%;
  }

