
.chat-main{
    width: calc(100% - 300px);
    background-color: #1a1d21;
}




.user-name{
    color: #eeeeee;
}

.menu{
    display: flex;
}

.new-group{
    margin-right: 5px;
}

a {
    text-decoration: none;
    color :#eeeeee;
}

.main-header{
    height: 100px;
    background-color: #3f3f3f;
    border-bottom: 1px solid;
    display: flex;
    padding: 0 40px;
    justify-content:space-between;
    align-items:center;
}

.current-group{
    color: #eeeeee;
    margin-bottom: 15px;
    font-size: 20px;
}

.member-list{
    font-size: 12px;
    color: #eeeeee;
    display: flex;
}

.member{
    margin-left: 5px;
}

.edit-btn{
    font-size: 16px;
    border:1px solid #eeeeee;
    padding:15px 20px;
}



.messages{
    background-color: #1a1d21;
    height: calc(100vh - 190px)
}

.form{
    height: 90px;
    background-color: #595959;
    padding:20px 40px;
}

.new-message{
    display: flex;
}

.input-text{
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #434a54;
    margin-right: 15px;
}

.submit-btn{
    font-size: 15px;
    color: #1a1d21;
    padding: 0 30px;
    height: 50px;
    width: 100px;
    background-color: #eeeeee;
}