*{
    margin: 0;
    padding: 0;
}

.chat-main{
    background-color: #1a1d21;
}

.user-name{
    color: #eeeeee;
}

.menu{
    display: flex;
}

.main-header{
    height: 100px;
    background-color: #3f3f3f;
    border-bottom: 1px solid;
    display: flex;
    padding: 0 40px;
    justify-content:space-between;
    align-items:center;
    color:#eeeeee;
}

.member{
    margin-left: 5px;
    color: #eeeeee;
}

.edit-btn{
    font-size: 16px;
    border:1px solid #eeeeee;
    padding:15px 20px;
    background-color: whitesmoke;
}



.messages{
    background-color: #1a1d21;
    color: #eeeeee;
    height: calc(100vh - 190px);
    overflow: scroll;
}

.form{
    height: 90px;
    background-color: #595959;
    padding: 40px 40px;
    position: absolute;
    bottom: 0;
    width: calc(100vw - 80px);
}

.new-message{
    display: flex;
}

.input-text{
    height: 50px;
    width: 100%;
    font-size: 16px;
    color: #434a54;
    margin-right: 15px;
}

.submit-btn{
    font-size: 15px;
    color: #1a1d21;
    padding: 0 30px;
    height: 50px;
    width: 100px;
    background-color: #eeeeee;
}
